.doc-title {
  font-size: 28px;
  font-weight: bold;
  padding: 16px;
  padding-top: 30px;
  text-align: center;
}
.doc-info {
  font-size: 9px;
  text-align: right;
  background: #EEE;
  margin: 10px 10px 20px 10px;
  padding: 8px 20px;
}
.doc-info i,
.doc-info em,
.doc-info b {
  font-style: normal;
  color: #AAA;
}
.doc-content p {
  margin: 10px 50px;
}
.doc-content blockquote {
  border-left: 3px solid #CCC;
  margin: 10px 60px;
  padding: 4px 10px;
  font-size: 12px;
  color: #888;
}
.doc-content blockquote p {
  margin: 0px;
}
.doc-content i {
  color: #666;
}
.doc-content h1 {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  margin: 2px;
  padding: 5px;
  padding-left: 10px;
}
.doc-content h2 {
  color: #00C;
  font-size: 16px;
  font-weight: bold;
  padding: 2px;
  margin: 5px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 50px;
}
.doc-content h3,
.doc-content h4,
.doc-content h5,
.doc-content h6 {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  margin: 2px;
  margin-left: 40px;
  padding: 2px;
}
.doc-content table {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
}
.doc-content pre {
  color: #126;
  font-family: Courier New;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  padding: 10px;
  margin-left: 60px;
  background-color: #EEE;
}
.doc-content code {
  color: #621;
  background: #FFD;
  border: 1px solid #CCC;
  margin: 0 2px;
  padding: 0 4px;
}
.doc-content ul,
.doc-content ol {
  margin-left: 50px;
  padding-left: 30px;
}
.doc-content ul ul,
.doc-content ul ol,
.doc-content ol ol,
.doc-content ol ul {
  margin-left: 10px;
  padding-left: 10px;
}
